@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;;
}

body,
html {
    height: 100%;
}

#root {
    height: 100%;
    background-image: url(images/bgImg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

/* header  */

header {
    padding: 10px 35px;
    position: absolute;
    background-color: rgb(76, 76, 76, .4);
    backdrop-filter: blur(100px);
    z-index: 2;
}

.logo {
    background-repeat: no-repeat;
    background-size: cover;
    height: 65px;
    width: auto;

}

.search {
    height: 65px;
    width: auto;
}

#searchImg {
    width: 30px;
    margin-right: 10px;
}

.box {
    display: flex;
    align-items: flex-end;
}

/* main list page  */

.bodyDiv {
    padding-top: 85px;
}

.listBody {
    background-color: #E72530;
    border: 3px solid black;
    border-radius: 50px;
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screenDiv {
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    background-color: #313129;
    border-radius: 25px 0 0 20px;
    border: 3px solid black;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    background-color: inherit;
}

::-webkit-scrollbar-thumb {
    background-color: #5183A4;
    border-radius: 10px;
}

/* pokemon cards */

.pokeCard {
    background-color: gray;
    height: 250px;
    margin: 10px;
    position: relative;
    color: black;
}

.pokeCard p {
    position: absolute;
    font-size: 25px;
    left: 10px;
}

.pokeCard img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* dex page  */

.dex {
    background-color: #E72530;
    border: 3px solid black;
    border-radius: 50px;
    height: 110%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 2px 20px black;
    position: relative;
    z-index: 0;
}

.dexScreenLinner {
    height: 65%;
    width: 85%;
    background-color: #DFDFDF;
    
}

.dexScreen {
    background-color: #313129;
    border: 3px solid black;
    height: 90%;
    width: 90%;
    padding: 10px;
    overflow: hidden;
    
    
}

.dexScreen p {
    color: white;
    
}

.dexDivider {
    height: 7px;
    background-color: black;
    width: 100%;
    
}

.pokeInfo {
    height: 50%;
}

.pokeAttacks {
    height: 50%;
}