@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;
    letter-spacing: .01rem;
}

body,
html {
    height: 100%;
}

#root {
    height: 100%;
    background-image: url(images/bgImg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

/* header  */

header {
    position: absolute;
    background-color: rgb(76, 76, 76, .4);
    backdrop-filter: blur(100px);
    z-index: 2;
}

.logo {
    background-repeat: no-repeat;
    background-size: cover;
    height: 65px;
    width: auto;

}

.search {
    height: 65px;
    width: auto;
}

#searchImg {
    width: 30px;
    margin-right: 10px;
}

.box {
    display: flex;
    align-items: flex-end;
}

/* main list page  */

.bodyDiv {
    padding-top: 85px;
}

.listBody {
    background-color: #E72530;
    border: 3px solid black;
    border-radius: 50px;
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screenDiv {
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    background-color: #313129;
    border-radius: 25px 0 0 20px;
    border: 3px solid black;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    background-color: inherit;
}

::-webkit-scrollbar-thumb {
    background-color: #5183A4;
    border-radius: 10px;
}

/* pokemon cards */

.pokeCard {
    background-color: gray;
    height: 250px;
    margin: 10px;
    position: relative;
    color: black;
}

.LeftEdgeDiv,
.rightEdgeDiv {
    border: 2px solid black;

}

.LeftEdgeDiv {
    border-top-style: none;
    border-right-style: none;
}

.rightEdgeDiv {
    border-bottom-style: none;
    border-left-style: none;
}

.pokeCard p {
    position: absolute;
    font-size: 25px;
}

.pokeCard span {
    font-size: 20px;
}

.pokeCard img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* dex page  */

.dex {
    background-color: #E72530;
    border: 3px solid black;
    border-radius: 50px;
    height: 110%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 2px 20px black;
    position: relative;
    z-index: 0;
}

.dexCameraDiv {
    height: auto;
    margin: 10px 0 5px 0;
    width: 80%;

}

.dexCamera {
    height: 95px;
    transform: scaleX(-1);
}

.dexMic {
    height: 65px;
    margin: 15px 0;
}

.dexScreenLinner {
    height: 65%;
    width: 85%;
    background-color: #DFDFDF;
    border: 2px solid black;

}

.dexScreen {
    background-color: #313129;
    border: 3px solid black;
    height: 90%;
    width: 90%;
    padding: 10px;
    overflow: hidden;


}

.dexScreen p {
    color: white;
}

.name {
    position: absolute;
}

.imgDiv {
    position: relative;
}

.pokeImg {
    object-fit: contain;
}

.pokeNum {
    position: absolute;
    bottom: 5px;
}

.dexDivider {
    display: flex;
    justify-content: space-around;
    height: 6px;
    background-color: #DFDFDF;
    width: 100%;
    position: relative;
    padding: 0 10px;
}

.whiteSpace {
    background-color: inherit;
    width: 95px;
}

.dexDividerPoint {
    position: relative;
    height: 15px;
    width: 15px;
    border: 1px solid white;
    background-color: #313129;
    align-self: center;

}

.pokeInfo {
    height: 50%;
}

.pokeAttacks {
    height: 50%;
}